.adjusting{

    margin: 30vh;
    padding: 60px;
}

.accordion-button::after{
    filter: brightness(0%) invert(100%);
}



/* this note says after click the marker will change color */
/* 
.accordion-button:not(.collapsed)::after{
    filter: brightness(0%) invert(100%);
} */

